<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Cliente</title>
</head>
<body>
    <h1>Página de adicionar cliente.</h1>
    <form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
        <label>Nome</label>
        <input type="text" th:field="*{nome}" id="nome"> <!-- O campo field tem que ser preenchido com os mesmos atributos da classe cliente. -->

        <label>Email</label>
        <input type="text" th:field="*{email}" id="email">

        <label>CPF</label>
        <input type="text" th:field="*{cpf}" id="cpf">

        <label>Data de nascimento</label>
        <input type="text" th:field="*{dataNascimento}" id="dataNascimento">

        <input type="submit" value="Criar Cliente">
    </form>
</body>
</html>