<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>
<body>
    <h1>Página de adicionar cliente</h1>
    <form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Nome</span>
            <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1" th:field="*{nome}" id="nome"> <!-- O campo field tem que ser preenchido com os mesmos atributos da classe cliente. -->
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" th:field="*{email}" id="email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">CPF</span>
            <input type="text" class="form-control" placeholder="CPF" aria-label="CPF" aria-describedby="basic-addon1" th:field="*{cpf}" id="cpf">
            <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Data de nascimento</span>
            <input type="text" class="form-control" placeholder="Data de nascimento" aria-label="Data de nascimento" aria-describedby="basic-addon1" th:field="*{dataNascimento}" id="dataNascimento">
            <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
        </div>

        <input class="btn btn-primary" type="submit" value="Criar Cliente">
    </form>
</body>
</html>