<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Cliente</title>
</head>
<body>
    <h1>Página de adicionar cliente</h1>
    <form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
        <label>Nome</label>
        <input type="text" th:field="*{nome}" id="nome"> <!-- O campo field tem que ser preenchido com os mesmos atributos da classe cliente. -->
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </br>

        <label>Email</label>
        <input type="text" th:field="*{email}" id="email">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </br>

        <label>CPF</label>
        <input type="text" th:field="*{cpf}" id="cpf">
        <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
        </br>

        <label>Data de nascimento</label>
        <input type="text" th:field="*{dataNascimento}" id="dataNascimento">
        <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
        </br>

        <input type="submit" value="Criar Cliente">
    </form>
</body>
</html>