<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>
<body>
<h1>Página de editar tarefa</h1>
<form action="#" th:action="@{/task/save-edit/{id}(id=${task.id})}" th:object="${task}" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">Nome</span>
        <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1" th:field="*{name}" id="name">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Responsável</span>
        <input type="text" class="form-control" placeholder="Responsável" aria-label="Responsável" aria-describedby="basic-addon1" th:field="*{owner}" id="owner">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Descrição</span>
        <input type="text" class="form-control" placeholder="Descrição" aria-label="Descrição" aria-describedby="basic-addon1" th:field="*{description}" id="description">
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text">Status</label>
        <select th:field="*{status}" id="status">
            <option value = "CRIADA">Criada</option>
            <option value = "EM EXECUÇÃO">Em Execução</option>
            <option value = "FINALIZADA">Finalizada</option>
        </select>
    </div>

    <input class="btn btn-primary" type="submit" value="Editar Tarefa">
</form>
</body>
</html>